
@import url('../css/swiper-bundle.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,100&display=swap');

/*Tags sendo zeradas*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,
em, img, strong, ul, li, 
footer, header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    list-style:none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}


body {
    background-color: #dad3c0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

header img  { 
    position: absolute;
    top: 15px;
    left: 15px;
    width: 26vh;
    z-index: 10;
}

/*Principal*/
.swiper-container {
    width: 100%;
    height: 100vh;
overflow:auto;
}

/*///Home\\\*/
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.swiper-slide .title p{
    font-size: 30px;
    font-weight: 300;
    padding: 0px 10px 0 50px;
    text-align: center;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.text p {
    font-size: 16px;
    max-width: 600px;
    line-height: 1.5;
    padding: 10px 10px 0px 40px;
    text-align: center;
}

/*Reduzindo o tamanho das controles*/
:root {
    --swiper-navigation-size: 37px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;

}

/*Oculta controle no inicio e fim do slider*/
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0;
}


/*//Icone scrol animado\\*/

/*Posicionamento do icone mouse*/
.loading-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80px;
    width: 80px;
}

.swiper-button-prev {
    height: 0;
    left: -35px;
    position: absolute;
    top: 43%;
}

.swiper-button-next {
    height: 0;
    right: -35px;
    position: absolute;
    top: 43%;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 0;
    right: 0;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin: auto;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 25px;
    z-index: 1;
}

.icon-scroll:before {
    content: '';
    width: 6px;
    height: 12px;
    background: #000;
    top: 8px;
    border-radius: 4px;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}



/*////Menu Acordian\\\\*/

.swiper-container, nav {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
}

nav li {
    height: 50px;
    position: relative;
}

nav li a {
    color: #000;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li a i {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
}

nav li a span {
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
}

nav a:active {
    color: #ffffff;
    background: #3b403a;    
}

a:hover {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 30px 0 60px;
}

ul li a:hover span {
    display: block;
}


/*Video*/
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
}

/*////Sobre\\\\\*/
.sobre, .swiper-slide-sobre{
    /*background-color: #dad3c0;*/
}

.swiper-slide-sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

.swiper-item {
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: absolute;
}

.slide-text {
    text-align: left;
    width: 40%;
    max-width:350px;
    padding: 20px;
    position: absolute;
    right: 5%;
    color: #ffffff;
    background-color: #3b403a;
}

.slide-text.playText {
    animation: transitionText 3s ease;
}

@keyframes transitionText {
    0% {
        right: -100%;
    }
    100%{
        right: 5%;
    }
}

.slide-text h1 {
    font-size: 20px;
    margin: 0;
    padding:0;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0.05em 0.05em 0.15em black;
}

.slide-text p {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 100; 
    text-shadow: 0.05em 0.05em 0.15em black;
}

/*////Instalações\\\\*/

/*Desativado pq adcionei no body*/
.instalacoes{
    /*background-color: #dad3c0;*/
}

.swiper-container-inst {
    overflow: hidden;
    list-style: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-wrapper-inst {
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    align-items: center;
}

.swiper-slide-inst {
    background-position: center;
    background-size: cover;
    max-width: 300px;
    height: 500px;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
}

/*Faz a imagem se enquadrar dentro sem distorcer*/
.swiper-slide-inst img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-inst {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-inst p{
    width: 50%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.swiper-slide-inst p{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #ffffff;
    text-align: right;
    font-size: 14px;
    text-shadow: 0.05em 0.05em 0.15em black;
}

.video-container-inst {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container-inst video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-inst {
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.swiper-pagination-bullet{
    width: 7px;
    height: 20px;
    border-radius: 0px;
    cursor: pointer;
}

/*Cor no a ponto ativo*/
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000;
}

/*Distanciamento dos pontos*/
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
}

/*////Suites\\\*/

/*Desativado pq adcionei no body*/
.suites{
    /*background-color: #dad3c0;*/
}

.swiper-suites {
    position: relative;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.titulo-suites h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.text-suites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-suites h4{
    font-size: 14px;
    width: 80%;
    text-align: center;
    font-weight: 400;
    padding-top: 6px;
}

.swiper-wrapper-suites {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide-suites {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    text-align: center;
}

.tab-menu{
    padding-left: 11%;
    padding-right: 11%;
}

/*Caixa nav*/
.tab-menu .swiper-slide-suites{
    border-bottom: 1px solid #3b403a;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 0 5px 0;
}

.tab-menu .swiper-slide-suites h5{
    font-size: 12px;
    font-weight: 400;
}

.swiper-suites .tab-menu .swiper-slide-suites.swiper-slide-thumb-active {
    color: #ffffff;
    background: #3b403a;
}

.tab-menu .swiper-slide-suites:hover {
    background: #FFF68F;
    color: #000;
}

/*Subtitulos do nav gold*/
.tab-menu .gold{
    font-size: 10px;
    font-weight: 400;
    color: #EEB422;
}

/*Subtitulos do nav Silver*/
.tab-menu .silver{
    font-size: 10px;
    font-weight: 400;
    color: #818183;
}

.suites {
    display: flex;
    justify-content: center;
}

/*Texto diferencial*/
.swiper-slide-suites .suites h5{
    font-size: 14px;
    font-weight: 400;
    padding-top: 35px;
    position: absolute;
    color: #ffffff;
    text-shadow: 0.05em 0.05em 0.15em black;
}

.tab-content .suites img {
    max-width: 100%;
    padding-top: 15px; 
    padding-left: 2%;
    padding-right: 2%;
}


/*////Culinária\\\\*/

.culi{
    display: flex;
    flex-direction: row;
}

.swiper-container-culi {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 80%;
    height: 100vh;
    float: left;
    -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, transform .3s ease;
    transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}
.titulo-culi h4{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.swiper-container-vertical > .swiper-wrapper-culi {
    flex-direction: column;
}

.swiper-wrapper-culi {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide-culi {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide-culi {
    overflow: hidden;
}

.swiper-slide-culi .slide-bg-culi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.swiper-slide-culi .entity-img {
    display: none;
}

/*Posicionamento do texto*/
.swiper-slide-culi .content-culi {
    position: absolute;
    top: 35%;
    left: 0;
    width: 50%;
    padding-left: 15%;
    color: #ffffff;
}

/*Titulo da imagem do conteudo*/
.swiper-slide-culi .content-culi .title-culi {
    font-size: 20px;
    margin-bottom: 5px;
    text-shadow: 0.05em 0.05em 0.15em black;
}

/*Subtitulo da imagem do conteudo*/
.swiper-slide-culi .content-culi .subtitle-culi {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
    transition: opacity .3s ease, -webkit-transform .7s ease;
    transition: opacity .3s ease, transform .7s ease;
    transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
    text-shadow: 0.05em 0.05em 0.15em black;
}

/*Efeitos no subtitulos*/
.swiper-slide-culi .content-culi .subtitle-culi.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/*Moldura lateral*/
.swiper-container-culi.nav-slider {
    width: 20%;
    padding-left: 5px;
    background-color: #dad3c0;
}

.swiper-container-culi.nav-slider .swiper-slide-culi {
    cursor: pointer;
    opacity: .4;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.swiper-container-culi.nav-slider .swiper-slide-culi.swiper-slide-culi-active {
    opacity: 1;
}

.swiper-container-culi.nav-slider .swiper-slide-culi .content-culi {
    width: 100%;
}

.swiper-container-culi.nav-lateral {
    opacity: 0;
    visibility: hidden;
}

.swiper-slide-culi {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --swiper-navigation-size-culi: 25px;
}
.swiper-button-prev-culi,
.swiper-button-next-culi {
    position: absolute;
    top: 47%;
    width: calc(var(--swiper-navigation-size-culi) / 25 * 27);
    height: var(--swiper-navigation-size-culi);
    margin-top: calc(0 - (var(--swiper-navigation-size-culi) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 20px;
}

.swiper-button-prev-culi:hover,
.swiper-button-next-culi:hover {
    color: #000000;
    background: #FFF68F;    
}

.swiper-button-prev-culi:active,
.swiper-button-next-culi:active {
    color: #ffffff;
    background: #3b403a;    
}

.swiper-button-prev-culi:after,
.swiper-button-next-culi:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size-culi);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-prev-culi,
.swiper-container-rtl .swiper-button-next-culi {
    right: 65px;
    left: auto;
}
.swiper-button-prev-culi:after,
.swiper-container-rtl .swiper-button-next-culi:after {
    content: 'prev';
}
.swiper-button-next-culi,
.swiper-container-rtl .swiper-button-prev-culi {
    right: 10px;
    left: auto;
}
.swiper-button-next-culi:after,
.swiper-container-rtl .swiper-button-prev-culi:after {
    content: 'next';

}

.swiper-button-prev-culi.swiper-button-disabled,
.swiper-button-next-culi.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

/*///Lazer\\\*/

/*Desativado pq adcionei no body*/
.lazer {
    /*background-color: #dad3c0;*/
}

.slider-lazer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container-slider-lazer {
    width: 80%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    background: #3b403a;
    padding: 25px;
    height: 600px;
    transition: all .3s;
}

.swiper-wrapper-lazer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

/*Centraliza a imagem e texto no centro do card de fundo*/
.lazer-content {
    display: flex;
    align-items: center;
}

/*Faz a animação*/
.lazer-content.swiper-slide-lazer-active .lazer-img img {
    opacity: 1;
    transition-delay: .3s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > * {
    opacity: 1;
    transform: none;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(1) {
    transition-delay: 0.3s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(2) {
    transition-delay: 0.4s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(3) {
    transition-delay: 0.5s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(4) {
    transition-delay: 0.6s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(5) {
    transition-delay: 0.7s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(6) {
    transition-delay: 0.8s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(7) {
    transition-delay: 0.9s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(8) {
    transition-delay: 1s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(9) {
    transition-delay: 1.1s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(10) {
    transition-delay: 1.2s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(11) {
    transition-delay: 1.3s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(12) {
    transition-delay: 1.4s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(13) {
    transition-delay: 1.5s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(14) {
    transition-delay: 1.6s;
}
.lazer-content.swiper-slide-lazer-active .lazer-text > *:nth-child(15) {
    transition-delay: 1.7s;
}

.swiper-slide-lazer {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-container-fade .swiper-slide-lazer {
    pointer-events: none;
    transition-property: opacity;
}

/*Ativa o mouse no controls do video*/
.swiper-container-fade .swiper-slide-lazer-active,
.swiper-container-fade .swiper-slide-lazer-active .swiper-slide-lazer-active {
    pointer-events: auto;
}

/*Tamanho do card img*/
.lazer-img{
    width: 400px;
    flex-shrink: 0;
    height: 550px;
    transform: translateX(-70px);
    overflow: hidden;
}

.lazer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;  
}

.video-container-lazer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container-lazer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lazer-text {
    transform: translateX(-30px);
    width: 56%;
}

.lazer-text > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}

.lazer-title {
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0.05em 0.05em 0.15em black;
}
.lazer-descri {
    color: #fff;
    padding-top: 10px;
    line-height: 1.5em;
    text-shadow: 0.05em 0.05em 0.15em black;
}

.video-container-lazer p{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #ffffff;  
    font-size: 12px;
    text-shadow: 0.05em 0.05em 0.15em black;
}

.swiper-pagination-lazer {
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    position: relative;
    top: -80%;
}

.swiper-pagination-lazer-fraction,
.swiper-pagination-lazer-custom,
.swiper-container-horizontal > .swiper-pagination-lazer-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}

/*Faz os pontos ficar em coluna*/
.swiper-pagination-lazer-bullet {
    width: 7px;
    height: 20px;
    display: block;
    border-radius: 0%;
    background: #f5f0dd;
    opacity: 0.4;
}

.swiper-pagination-lazer-clickable .swiper-pagination-lazer-bullet {
    cursor: pointer;
}

.swiper-container-horizontal > .swiper-pagination-lazer-bullets.swiper-pagination-lazer-bullets-dynamic .swiper-pagination-lazer-bullet {
    transition: 200ms transform, 200ms left;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-lazer-bullets-dynamic .swiper-pagination-lazer-bullet {
    transition: 200ms transform, 200ms right;
}

.swiper-container-horizontal > .swiper-pagination-lazer-bullets .swiper-pagination-lazer-bullet {
    margin: 2px 2px;    
}

.swiper-pagination-lazer-bullet-active {
    background: #000;
}

.swiper-pagination-lazer-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

:root {
    --swiper-navigation-size-lazer: 25px;
}

.swiper-button-next-lazer,
.swiper-button-prev-lazer {
    position: absolute;
    top: 85%;
    width: calc(var(--swiper-navigation-size-lazer) / 25 * 27);
    height: var(--swiper-navigation-size-lazer);
    margin-top: calc(0 - (var(--swiper-navigation-size-lazer) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 20px;
}

.swiper-button-next-lazer:hover,
.swiper-button-prev-lazer:hover {
    color: #000000;
    background: #FFF68F;  
}

.swiper-button-prev-lazer:active,
.swiper-button-next-lazer:active {
    color: #ffffff;
    background: #3b403a;    
}

.swiper-button-prev-lazer:after,
.swiper-button-next-lazer:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size-lazer);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev-lazer,
.swiper-container-rtl .swiper-button-next-lazer {
    right: 95px;
    left: auto;
}

.swiper-button-prev-lazer:after,
.swiper-container-rtl .swiper-button-next-lazer:after {
    content: 'prev';
}
.swiper-button-next-lazer,
.swiper-container-rtl .swiper-button-prev-lazer {
    right: 40px;
    left: auto;
}

.swiper-button-next-lazer:after,
.swiper-container-rtl .swiper-button-prev-lazer:after {
    content: 'next';

}

.swiper-button-prev-lazer.swiper-button-disabled,
.swiper-button-next-lazer.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

/*///Eventos\\\*/

/*Desativado pq adcionei no body*/
.eve {
    /*background-color: #dad3c0;*/ 
}

.eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.swiper-container-eventos  {
    width: 100%;
    position: relative;
    height: 100%;
    max-height: 600px;
}

.titulo-eventos h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.swiper-wrapper-eventos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
}

.slider-item-eventos {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    opacity: 0;
    background: #3b403a;
}

.slider-image-eventos img{
    height: 450px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: .2s;
}

.slider-content-eventos {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s;
}

.slider-content-eventos h1 {
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    transition: all .4s ease;
    transition-delay: .2s;
    max-width: 100%;
    text-shadow: 0.05em 0.05em 0.15em black;
}

.slider-content-eventos p {
    padding-top: 5px;
    font-size: 14px;
    color: #fff;
    transition: all .4s ease;
    transition-delay: .3s;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-shadow: 0.05em 0.05em 0.15em black;
}

:root {
    --swiper-navigation-size-eventos: 25px;
}

.swiper-button-next-eventos,
.swiper-button-prev-eventos {
    position: absolute;
    /*top: 50%;*/
    top: 82%;
    width: calc(var(--swiper-navigation-size-eventos) / 25 * 27);
    height: var(--swiper-navigation-size-eventos);
    margin-top: calc(0 - (var(--swiper-navigation-size-eventos) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 20px;
}

.swiper-button-next-eventos:hover,
.swiper-button-prev-eventos:hover {
    color: #000000;
    background: #FFF68F;  
}

.swiper-button-prev-eventos:active,
.swiper-button-next-eventos:active {
    color: #ffffff;
    background: #3b403a;    
}

.swiper-button-prev-eventos:after,
.swiper-button-next-eventos:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size-eventos);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev-eventos,
.swiper-container-rtl .swiper-button-next-eventos {
    right: 85px;
    left: auto;
}

.swiper-button-prev-eventos:after,
.swiper-container-rtl .swiper-button-next-eventos:after {
    content: 'prev';
}
.swiper-button-next-eventos,
.swiper-container-rtl .swiper-button-prev-eventos {
    right: 30px;
    left: auto;
}

.swiper-button-next-eventos:after,
.swiper-container-rtl .swiper-button-prev-eventos:after {
    content: 'next';
}

.swiper-button-prev-eventos.swiper-button-disabled,
.swiper-button-next-eventos.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}


/*///Informações\\\*/

/*Desativado pq adcionei no body*/
.valores{
    /*background-color: #dad3c0;*/
}

/*Centralização do conteudo*/
/*#app {*/
.swiper-valores {
    position: relative;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;  width: 100%;
}

.titulo-valores h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.swiper-wrapper-valores {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide-valores {
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    text-align: center;
}

.tab-menu-valores {
    padding-left: 15%;
    padding-right: 15%;
}

.tab-menu-valores .swiper-slide-valores{
    border-bottom: 1px solid #3b403a;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0 10px 0;
}

.tab-menu-valores .swiper-slide-valores h5{
    font-size: 14px;
    font-weight: 400;
}

.swiper-valores .tab-menu-valores .swiper-slide-valores.swiper-slide-thumb-active {
    color: #ffffff;
    background: #3b403a;
}

.tab-menu-valores .swiper-slide-valores:hover {
    color: #000;
    background: #FFF68F;
}

/*///Tarifas\\\*/
.valor {
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

table {
    width: 100%;
    box-sizing: content-box;
}

table thead th {
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #3b403a;
    font-weight: 400;
    text-align: center;
}

.titulo-valores-suite-gold {
    font-size: 14px; 
    background: #3b403a;  
    color: #EEB422;
}

.titulo-valores-suite-silver {
    font-size: 14px;  
    background: #3b403a;  
    color: #818183;
}

/*Text linhas*/
table tbody tr td {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
}

/*///Aviso\\\*/

.content .conte-valores  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .cont-apc {
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
}

.cont-apc h2{
    font-size: 14px;
    padding-top: 10px;
    text-align: left;
}

.cont-apc p{
    padding-top: 5px;
    font-size: 14px;
    text-align: left;
}

/*///Contato\\\*/

/*Desativado pq adcionei no body*/
.cont {
    /*background-color: #dad3c0;*/
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;        
}

.linha {
    border-bottom: 1px solid #3b403a;
    width: 70%;
    box-sizing:border-box;
}

.cont-logo img {
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 15px;
}

.cont-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 15px;
    font-size: 14px;
}

.cont-tel ul  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.cont-tel a {
    flex-direction:row;
    align-items: center;
    display: flex;
    font-size: 20px;   
    padding: 0 15px;
}

.cont-tel a:hover, 
.cont-email a:hover,
.cont-social a:hover,
.cont-tur a:hover {
    background: none;
}

.cont-email a {
    align-items: center;
    display: flex;
    font-size: 14px;
    padding-top: 15px;
    pointer-events:none;
}

.cont-social p{
    padding-top: 10px;
    font-size: 14px;
}

.cont-social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    flex-wrap: nowrap;    
}

.cont-social a {
    padding: 0 15px;
}

.cont-ender a{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 15px;
    pointer-events:none;
}

.cont-tur {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    pointer-events:none;
}

.cont-tur img{
    width: 20vh;
}

.linha-2 {
    border-bottom: 1px solid #3b403a;
    width: 70%;
    box-sizing:border-box;
    padding-top: 25px;
}


.cont-footer li{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding-top: 30px;
}

/*///Icone de pré carregamento da pagina e adcionado um js para desativação\\\*/

#loader{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #dad3c0;
}

.vertical--center{
    margin: 0 auto;
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
}

.vertical-center__element{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-center__element p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em 0 0 1.5em;
    font-size: 12px;
}

.preloader{
    display: block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin: 1.5px auto;  
    background: #3b403a;  
}

.preloader--top{
    top: 0;
    animation: preloaderCSSTop 2s infinite;
}

.preloader--top::after{
    position: absolute;
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    left: 1.5em;
    background: #3b403a;
    margin-left: 1px;
    animation: preloaderCSSTopAfter 2s infinite;
    animation-delay: .5s;
}

.preloader--bottom{
    top: 0;
    animation: preloaderCSSBottom 2s infinite;
    animation-delay: 1.5s;
}

.preloader--bottom::after{
    position: absolute;
    content: '';
    display: block;
    width: 1.5em;
    left: 1.5em;
    height: 1.5em;
    background: #3b403a;
    margin-left: 1px;
    animation: preloaderCSSTopAfter 2s infinite;
    animation-delay: 1s;
} 


@keyframes preloaderCSSTop{
    0% {
        background-color: #3b403a;
    }
    100%{
        background-color: #ffffff;
    }
}

@keyframes preloaderCSSBottom{
    0% {
        background-color: #3b403a;
    }
    100%{
        background-color: #ffffff;
    }
}

@keyframes preloaderCSSTopAfter{
    0% {
        background-color: #3b403a;
    }
    100%{
        background-color: #ffffff;
    }
}

@keyframes preloaderCSSBottomAfter{
    0% {
        background-color: #3b403a;
    }
    100%{
        background-color: #ffffff;
    }
}
